# Ignore all files in the data directory
lab1/reference/data/
lab2/data_gen/ 
lab2/datasets/ 
lab2/diffusion/epoch_199.pth
lab2/myenv

# Allow specific file types if needed
!*.csv
!*.json

# Ignore specific file types
*.log
*.tmp
*.bak

# Ignore hidden files and directories
!.gitignore

# Ignore specific directories
cache/
temp/
