# Ignore virtual environment
myenv/

# Ignore data directories
diffusion/data_ddim/
diffusion/data_ddpm/
vae/data/
gan/data_gan/

# Ignore model checkpoints
*.pth

# Ignore attributes.txt if not needed
attributes.txt

